body {
    background-color: sienna;
    display: flex;
}
text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#line{
    width:400px;
    height:500px;
    left:520px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
    text-align: center;
}
#line h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#line h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}